@media (min-width: 800px) {
    #main-container {
      margin-top: 0px;
    }
    .cupon-std {
      margin: 13px auto;
      transform: scale(1);
    }
    #section-whois-you {
      margin-top: 0;
    }
    .slick-slide {
      margin: 1px 8px !important;
    }
    .slick-list {
      clip-path: inset(0px 45px 0px 45px);
    }
    .slick-track {
      left: 50px !important;
    }
    #main-hero-img-carousel {
      background-image: url(/images/hero/hero-img.jpg);
    }
    #preview-container {
      width: 500px;
      min-height: 325px;
      margin: auto;
      margin-top: 36px;
      box-sizing: border-box;
      padding: 12px;
      border-radius: 10px;
      color: #5d5d5d;
      background-color: #fff;
      padding: 12px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      text-decoration: none;
      list-style: none;
      border-color: #e9e9e9;
      border-style: solid;
      border-width: 1px;
      transition: all 0.6s ease;
      -webkit-box-shadow: 1px 1px 2px 0px rgba(204, 204, 204, 0.7) !important;
      box-shadow: 1px 1px 2px 0px rgba(204, 204, 204, 0.7) !important;
    }
    #main-hero-img-carousel {
      background-position: center center;
    }
  }
  
  @media only screen and (max-width: 1017px) and (min-width: 800px) {
    #main-d-sidebar {
      flex: 15%;
    }



    #main-d-content {
      flex: 50%;
    }
  }

  @media only screen and (max-width: 800px) and (min-width: 100px) {

    .titulomodal{
      line-height: 22px!important;
      font-size: 14px!important;
      padding: 12px!important;
    }
    .row-centered{
      align-items: center!important;
    }
    .next-selection {
      margin-left: 54px!important;
    }
    .linea{
      width: 40%!important;
    }
    .row-linea {
      flex-grow: 1!important;
      min-width: 50px!important;
    }
    .deal-info{
      width: 94%!important;
    }
    #main-login {
      margin: auto;
    }

    #header-menu-buttoms {
      li{
        margin: 0;
      }
    }
    .slick-dots {
      margin: -17px 0px !important;
    }
    .carousel {
      padding: 0;
    }
    .slick-prev, .slick-next {
      display: none !important;
    }
    #response-box {
      position: absolute;
      width: 100%;
      background-color: #FFF;
      bottom: 0;
    }
    .header-container-qr {
      display: none !important;
    }
    .main-container-nohome {
      margin-top: 55px !important;
    }
    #header-container {
      flex-wrap: wrap;
      justify-content: center;
      height: 75px;
    }
    #header-logo {
      flex: 100%;
      margin-top: -33px;
    }
    .index-h {
      height: 140px;
      background: rgba(0, 0, 0, 0.6);
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 32%, rgba(4, 4, 4, 0.6) 33%, rgba(236, 236, 236, 0.1) 89%, rgba(255, 255, 255, 0.04) 96%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(32%, rgba(0, 0, 0, 0.6)), color-stop(33%, rgba(4, 4, 4, 0.6)), color-stop(89%, rgba(236, 236, 236, 0.1)), color-stop(96%, rgba(255, 255, 255, 0.04)), color-stop(100%, rgba(255, 255, 255, 0)));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 32%, rgba(4, 4, 4, 0.6) 33%, rgba(236, 236, 236, 0.1) 89%, rgba(255, 255, 255, 0.04) 96%, rgba(255, 255, 255, 0) 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 32%, rgba(4, 4, 4, 0.6) 33%, rgba(236, 236, 236, 0.1) 89%, rgba(255, 255, 255, 0.04) 96%, rgba(255, 255, 255, 0) 100%);
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6) 32%, rgba(4, 4, 4, 0.6) 33%, rgba(236, 236, 236, 0.1) 89%, rgba(255, 255, 255, 0.04) 96%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 32%, rgba(4, 4, 4, 0.6) 33%, rgba(236, 236, 236, 0.1) 89%, rgba(255, 255, 255, 0.04) 96%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
    }
    #header-container-menu {
      flex: 100%;
      box-sizing: border-box;
      padding: 0px 2%;
      height: 64px;
      background-color: rgba(188, 45, 25, 0.58);
    }
    #header-menu {
      height: 60px;
    }
    #header-menu-buttoms {
      line-height: 60px;
    }
    #header-logo ul {
      margin-left: 0px;
    }
    #header-logo-container {
      margin: 22px auto 19px;
    }
    .classic-logo {
      margin: 40px auto 2px !important;
      background-size: 75% 75%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .login-status {
      height: 60px;
      line-height: 60px;
    }
    #textbloq2 {
      display: none;
    }
    #textbloq1 {
      margin-top: 70px;
      font-size: 1.3em;
    }
    #main-d-sidebar {
      flex: 20%;
      padding: 146px 15px 8px 14px;
      min-width: 262px;
    }
    #main-d-content {
      flex: 50%;
    }
    .modal {
      padding-top: 1px !important;
    }
    #modal-content {
      width: 100% !important;
      margin: 0 !important;
      border-radius: 0px !important;
      border: 0 !important;
      max-width: 1000px !important;
      height: 100%;
    }
    .modal-footer {
      position: fixed !important;
    }

    .modal-footer div {
      position: fixed !important;
      bottom: 0px !important;
      left: 0;
      line-height: 44px !important;
    }

    #creditos {
      height: 72px;
    }
    .f-container {
      padding: 16px 4%;
      flex-wrap: wrap;
      font-size: 0.8em;
    }
    .b1, .b2, .b3 {
      margin-top: 16px;
    }
    .navFooter {
      font-size: 1em;
    }
    .modal-header {
      background-color: #fbfbf2 !important;
      margin-bottom: 17px !important;
    }
    .modal-body {
      min-height: 100vh !important;
    }
    .deal-info-box {
      height: auto !important;
    }
    .main-box {
      margin: 0px;
    }
    .nav-signup form {
      min-width: initial !important;
    }
    #main-hero {
      height: 390px;
    }
    .slick-slide {
      margin-left: 6px !important;
      margin-right: 6px !important;
    }
    #nav-bar {
      margin-top: 54px;
    }
    .normal-opacity-menu {
      background-color: #bc2d19 !important;
    }
    #hero-deals {
      flex-wrap: wrap;
    }
    .col1 {
      flex: 100%;
    }
    .col2 {
      flex: 100%;
      order: 1;
      min-height: 454px;
    }
    .col1 {
      order: 2;
    }
  }
  
  @media only screen and (max-width: 548px) and (min-width: 100px) {
    .dropbtn span {
      display: none;
    }
    #empty-state-message-img {
      height: 204px;
    }
    #empty-state-message span {
      min-width: 100px;
      flex: 100%;
      padding: 0px 8%;
      height: 215px;
      margin-bottom: 26px;
    }
    ul {
      margin-inline-start: -1.1em;
    }
    body {
      font-size: 0.97em;
    }
    #rights {
      display: none;
    }
    #logo-d {
      background-size: 75% auto;
    }
    #main-d-sidebar {
      flex: 100%;
      padding: 32px 15px 8px 14px;
    }
    .col2 {
      min-height: 279px;
    }
  }
  
  @media only screen and (max-width: 455px) and (min-width: 100px) {
    .buss-info-container {
      flex-direction: column !important;
      justify-content: center !important;
      min-height: initial !important;
    }
    #nav-bar nav ul li {
      font-size: 0.8em !important;
    }
    .loader {
      max-width: 200px !important;
    }
    .modal-body img {
      width: 100%;
      height: auto;
      margin-bottom: 15px;
      max-width: initial;
      min-width: initial;
      max-height: initial;
      float: initial;
    }
    .buss-info-metadata {
      padding: 0px !important;
      WIDTH: 100% !important;
    }
  }
  
  @media only screen and (max-width: 402px) and (min-width: 100px) {
    #text-login {
      display: none;
    }
    #header-menu-buttoms li a {
      font-size: 0.69em;
    }
    .login-status a {
      font-size: 0.69em !important;
    }
    #textbloq1 {
      box-sizing: border-box;
      padding: 0px 16px;
    }
    .b1, .b2, .b3 {
      flex: 100%;
    }
    #creditos {
      height: auto;
      box-sizing: border-box;
      padding: 0px 20px;
      div {
        height: inherit;
      }
    }
  }

  @media only screen and (max-width: 1000px) and (min-width: 100px) { //  exclusivo pa los betas mobiles de /register
  
    #header-logo-container-register {
      margin: 47px -9px!important;
      display:none;
    }
    .register-info-box{
      position: absolute;
    }
    .register-box{
      background-image:url();
      background-color: transparent;
    }
    .register-form-box{
      box-shadow: rgba(70, 70, 70, 0.45) 0px 2px 8px 0px;
      padding-top: 64px;
    }
    #logo-form-register {
      display: block;
    }
    .register-info-box{
      display:none!important;
    }
  }